 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 163px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.6;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 51px auto 33px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 608px;
}

.u-section-2 .u-group-1 {
  width: 809px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  min-height: 477px;
  margin: 71px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0 23px;
}

.u-section-2 .u-text-2 {
  text-align: left;
  margin: 13px 129px 0 396px;
}

.u-section-2 .u-text-3 {
  text-align: left;
  margin: -24px 630px 0 44px;
}

.u-section-2 .u-shape-1 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -20px auto 0 375px;
}

.u-section-2 .u-shape-2 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -11px auto 0 23px;
}

.u-section-2 .u-text-4 {
  text-align: left;
  margin: 31px 110px 0 396px;
}

.u-section-2 .u-text-5 {
  text-align: left;
  margin: -25px 569px 0 44px;
}

.u-section-2 .u-shape-3 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -19px auto 0 23px;
}

.u-section-2 .u-shape-4 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -11px auto 0 375px;
}

.u-section-2 .u-text-6 {
  text-align: left;
  margin: 30px 569px 0 44px;
}

.u-section-2 .u-shape-5 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -19px auto 0 23px;
}

.u-section-2 .u-text-7 {
  text-align: left;
  margin: 31px 569px 0 44px;
}

.u-section-2 .u-shape-6 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -19px auto 0 23px;
}

.u-section-2 .u-text-8 {
  text-align: left;
  margin: 31px 540px 0 44px;
}

.u-section-2 .u-shape-7 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -17px auto 0 23px;
}

.u-section-2 .u-text-9 {
  text-align: left;
  margin: 30px 461px 0 44px;
}

.u-section-2 .u-shape-8 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -16px auto 0 23px;
}

.u-section-2 .u-text-10 {
  text-align: left;
  margin: 28px 526px 0 44px;
}

.u-section-2 .u-shape-9 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -19px auto 0 23px;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 85px;
    margin-left: 352px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 585px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 56px;
    margin-right: 66px;
    margin-left: 352px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -50px;
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 6px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -26px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 495px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 416px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 481px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 15px;
    margin-left: 282px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 445px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 278px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 384px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 384px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 384px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 355px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 276px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 97px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 245px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 308px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 78px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 184px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -34px;
    margin-left: 308px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 184px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 184px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 76px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 141px;
  }
}

.u-section-2 .u-group-1,
.u-section-2 .u-group-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 977px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 67px auto 0 23px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: -64px 494px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -36px auto 0 100px;
}

.u-section-3 .u-text-2 {
  text-align: start;
  margin: -36px 206px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 343px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  min-height: 156px;
  transition-duration: 0.5s;
  margin: 29px auto 0 109px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  margin: 31px auto 0 18px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  margin: 5px 0 0 18px;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 15px auto 0 18px;
}

.u-section-3 .u-group-2 {
  width: 343px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  min-height: 156px;
  transition-duration: 0.5s;
  margin: -156px 146px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-6 {
  margin: 31px auto 0 18px;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  margin: 5px 0 0 18px;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: 15px auto 0 18px;
}

.u-section-3 .u-group-3 {
  width: 343px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  min-height: 156px;
  transition-duration: 0.5s;
  margin: 84px auto 0 109px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-9 {
  margin: 31px auto 0 18px;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  margin: 5px 0 0 18px;
}

.u-section-3 .u-text-11 {
  font-size: 0.875rem;
  margin: 15px auto 0 18px;
}

.u-section-3 .u-group-4 {
  width: 343px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  min-height: 156px;
  transition-duration: 0.5s;
  margin: -156px 146px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-12 {
  margin: 31px auto 0 13px;
}

.u-section-3 .u-text-13 {
  text-transform: uppercase;
  margin: 5px 5px 0 13px;
}

.u-section-3 .u-group-5 {
  width: 343px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  min-height: 156px;
  transition-duration: 0.5s;
  margin: 100px auto 0 109px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-14 {
  margin: 31px auto 0 18px;
}

.u-section-3 .u-text-15 {
  text-transform: uppercase;
  margin: 5px 0 0 18px;
}

.u-section-3 .u-text-16 {
  font-size: 0.875rem;
  margin: 15px auto 0 18px;
}

.u-section-3 .u-group-6 {
  width: 343px;
  min-height: 156px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -156px 146px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-17 {
  margin: 31px auto 0 18px;
}

.u-section-3 .u-text-18 {
  text-transform: uppercase;
  margin: 5px 0 0 18px;
}

.u-section-3 .u-text-19 {
  font-size: 0.875rem;
  margin: 15px auto 0 18px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 51px 245px 60px auto;
  padding: 15px 50px 15px 48px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    margin-top: 374px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -78px;
    margin-right: 407px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -329px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    margin-left: 109px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 280px;
    margin-right: auto;
    margin-left: 109px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -372px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-6 {
    margin-top: 20px;
    margin-left: 109px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-2 {
    margin-right: 312px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    margin-top: 409px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 234px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -364px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    margin-top: 393px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 147px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -348px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 2px;
  }

  .u-section-3 .u-group-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-6 {
    width: 340px;
    margin-left: 0;
  }
}

.u-section-3 .u-group-3,
.u-section-3 .u-group-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-3.u-group-3.u-group-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-3.u-group-3.u-group-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-2,
.u-section-3 .u-group-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-2.u-group-2.u-group-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-2.u-group-2.u-group-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-4,
.u-section-3 .u-group-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-4.u-group-4.u-group-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-4.u-group-4.u-group-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-6,
.u-section-3 .u-group-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-6.u-group-6.u-group-6:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-6.u-group-6.u-group-6.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-5,
.u-section-3 .u-group-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-5.u-group-5.u-group-5:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-group-5.u-group-5.u-group-5.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}.u-block-28d2-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-28d2-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  top: 230px;
  right: auto;
}

.u-block-28d2-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-4-1 {
  background-image: none;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 527px;
}

.u-section-4-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 55px auto 0 466px;
}

.u-section-4-1 .u-text-1 {
  font-weight: 700;
  margin: -51px 503px 0 auto;
}

.u-section-4-1 .u-list-1 {
  width: 1140px;
  margin: 64px -18px 60px auto;
}

.u-section-4-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 269px;
}

.u-section-4-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  margin: 12px auto 0;
}

.u-section-4-1 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-4-1 .u-text-3 {
  width: 190px;
  margin: 13px auto 0;
}

.u-section-4-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  color: rgb(3, 1, 4) !important;
  margin: 12px auto 0;
}

.u-section-4-1 .u-text-4 {
  margin: 18px auto 0;
}

.u-section-4-1 .u-text-5 {
  width: 190px;
  margin: 13px auto 0;
}

.u-section-4-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  color: rgb(0, 0, 0) !important;
  margin: 12px auto 0;
}

.u-section-4-1 .u-text-6 {
  margin: 18px auto 0;
}

.u-section-4-1 .u-text-7 {
  width: 190px;
  margin: 13px auto 0;
}

.u-section-4-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  color: rgb(0, 0, 0) !important;
  margin: 12px auto 0;
}

.u-section-4-1 .u-text-8 {
  margin: 18px auto 0;
}

.u-section-4-1 .u-text-9 {
  width: 190px;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-icon-1 {
    margin-left: 384px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 415px;
  }

  .u-section-4-1 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4-1 .u-repeater-1 {
    min-height: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-icon-1 {
    margin-left: 294px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 318px;
  }

  .u-section-4-1 .u-list-1 {
    width: 720px;
  }

  .u-section-4-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-icon-1 {
    margin-left: 221px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 239px;
  }

  .u-section-4-1 .u-list-1 {
    width: 540px;
  }

  .u-section-4-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-icon-1 {
    margin-left: 139px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-4-1 .u-list-1 {
    width: 340px;
  }
}

 .u-section-4-2 {
  background-image: none;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 527px;
}

.u-section-4-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 51px auto 0 457px;
}

.u-section-4-2 .u-text-1 {
  font-weight: 700;
  margin: -51px auto 0;
}

.u-section-4-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 76px;
}

.u-section-4-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 285px;
}

.u-section-4-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-4-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-4-2 .u-text-3 {
  margin: 15px 88px 0 144px;
}

.u-section-4-2 .u-list-item-2 {
  margin-bottom: 0;
}

.u-section-4-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-4-2 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-4-2 .u-text-5 {
  margin: 15px 88px 0 144px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-icon-1 {
    margin-top: -11px;
    margin-left: 377px;
  }

  .u-section-4-2 .u-text-1 {
    margin-top: -52px;
  }

  .u-section-4-2 .u-list-1 {
    margin-top: 138px;
  }

  .u-section-4-2 .u-repeater-1 {
    min-height: 235px;
  }

  .u-section-4-2 .u-text-3 {
    margin-left: 31px;
    margin-right: 0;
    width: 370px;
  }

  .u-section-4-2 .u-text-5 {
    margin-left: 31px;
    margin-right: 0;
    width: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-icon-1 {
    margin-top: 169px;
    margin-left: 289px;
  }

  .u-section-4-2 .u-list-1 {
    margin-bottom: 0;
    margin-top: -42px;
  }

  .u-section-4-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4-2 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-icon-1 {
    margin-left: 217px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-icon-1 {
    margin-left: 137px;
  }

  .u-section-4-2 .u-list-1 {
    margin-top: -29px;
  }

  .u-section-4-2 .u-text-3 {
    width: 320px;
  }

  .u-section-4-2 .u-text-5 {
    width: 320px;
  }
}

.u-block-daa7-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-daa7-13:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-daa7-13:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-13:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-13:not([data-block-selected]):not([data-cell-selected]):hover .u-svg-link {
  fill: #f41822 !important;
}

.u-block-daa7-13:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-13:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-13:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-daa7-13.u-block-daa7-13.u-block-daa7-13.hover .u-svg-link {
  fill: #f41822 !important;
}

.u-block-daa7-13.u-block-daa7-13.u-block-daa7-13.hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-daa7-14:not([data-block-selected]):not([data-cell-selected]),
.u-block-daa7-14:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-daa7-14:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-14:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-14:not([data-block-selected]):not([data-cell-selected]):hover .u-svg-link {
  fill: #f41822 !important;
}

.u-block-daa7-14:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-14:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-14:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-daa7-14.u-block-daa7-14.u-block-daa7-14.hover .u-svg-link {
  fill: #f41822 !important;
}

.u-block-daa7-14.u-block-daa7-14.u-block-daa7-14.hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-daa7-15:not([data-block-selected]):not([data-cell-selected]),
.u-block-daa7-15:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-daa7-15:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-15:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-15:not([data-block-selected]):not([data-cell-selected]):hover .u-svg-link {
  fill: #f41822 !important;
}

.u-block-daa7-15:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-15:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-15:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-daa7-15.u-block-daa7-15.u-block-daa7-15.hover .u-svg-link {
  fill: #f41822 !important;
}

.u-block-daa7-15.u-block-daa7-15.u-block-daa7-15.hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-daa7-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-daa7-16:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-daa7-16:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-16:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-16:not([data-block-selected]):not([data-cell-selected]):hover .u-svg-link {
  fill: #f41822 !important;
}

.u-block-daa7-16:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-16:not([data-block-selected]):not([data-cell-selected]).u-block-daa7-16:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-daa7-16.u-block-daa7-16.u-block-daa7-16.hover .u-svg-link {
  fill: #f41822 !important;
}

.u-block-daa7-16.u-block-daa7-16.u-block-daa7-16.hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-4-1 .u-icon-2,
.u-section-4-1 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4-1 .u-icon-2.u-icon-2.u-icon-2:hover .u-svg-link {
  fill: #f41822 !important;
}

.u-section-4-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-4-1 .u-icon-2.u-icon-2.u-icon-2.hover .u-svg-link {
  fill: #f41822 !important;
}

.u-section-4-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-4-1 .u-icon-3,
.u-section-4-1 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4-1 .u-icon-3.u-icon-3.u-icon-3:hover .u-svg-link {
  fill: #f41822 !important;
}

.u-section-4-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-4-1 .u-icon-3.u-icon-3.u-icon-3.hover .u-svg-link {
  fill: #f41822 !important;
}

.u-section-4-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-4-1 .u-icon-4,
.u-section-4-1 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4-1 .u-icon-4.u-icon-4.u-icon-4:hover .u-svg-link {
  fill: #f41822 !important;
}

.u-section-4-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-4-1 .u-icon-4.u-icon-4.u-icon-4.hover .u-svg-link {
  fill: #f41822 !important;
}

.u-section-4-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-4-1 .u-icon-5,
.u-section-4-1 .u-icon-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4-1 .u-icon-5.u-icon-5.u-icon-5:hover .u-svg-link {
  fill: #f41822 !important;
}

.u-section-4-1 .u-icon-5.u-icon-5.u-icon-5:hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-4-1 .u-icon-5.u-icon-5.u-icon-5.hover .u-svg-link {
  fill: #f41822 !important;
}

.u-section-4-1 .u-icon-5.u-icon-5.u-icon-5.hover {
  color: #f41822 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 611px;
}

.u-section-5 .u-group-1 {
  width: 809px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  min-height: 445px;
  margin: 114px auto 52px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0 23px;
}

.u-section-5 .u-text-2 {
  text-align: left;
  margin: 14px auto 0 392px;
}

.u-section-5 .u-group-2 {
  width: 157px;
  min-height: 26px;
  margin: -25px auto 0 23px;
}

.u-section-5 .u-text-3 {
  text-align: left;
  margin: 0 0 0 auto;
}

.u-section-5 .u-shape-1 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -19px auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -21px auto 0 374px;
}

.u-section-5 .u-text-4 {
  text-align: left;
  margin: 27px 489px 0 40px;
}

.u-section-5 .u-text-5 {
  text-align: left;
  margin: -25px auto 0 392px;
}

.u-section-5 .u-shape-3 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -18px auto 0 374px;
}

.u-section-5 .u-shape-4 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -11px auto 0 23px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  text-align: left;
  margin: 77px auto 0 23px;
}

.u-section-5 .u-text-7 {
  text-align: left;
  margin: 20px 489px 0 40px;
}

.u-section-5 .u-shape-5 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -18px auto 0 23px;
}

.u-section-5 .u-text-8 {
  text-align: left;
  margin: 20px 489px 0 40px;
}

.u-section-5 .u-shape-6 {
  width: 12px;
  height: 12px;
  text-align: left;
  margin: -18px auto 0 23px;
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 13px;
    margin-left: 345px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -24px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 35px;
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: -40px;
    margin-left: 345px;
  }

  .u-section-5 .u-shape-4 {
    margin-top: 2px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 440px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 272px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 395px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 272px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 300px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 167px;
  }

  .u-section-5 .u-shape-2 {
    margin-left: 308px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 243px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 167px;
  }

  .u-section-5 .u-shape-3 {
    margin-left: 308px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 100px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 100px;
  }
}

.u-section-5 .u-group-1,
.u-section-5 .u-group-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-5 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 432px;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 274px;
  background-image: none;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  margin: 75px auto 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-6 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: 9px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: -44px 17px 0;
}

.u-section-6 .u-icon-2 {
  width: 44px;
  height: 44px;
  color: rgb(0, 0, 0) !important;
  margin: -96px 167px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-weight: normal;
    line-height: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 103px;
  }
}